@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/bg.jpg);
  font-family: 'yg-jalnan';
}

.plus {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff34;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 30px;
  top: 30px;
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.25s linear;
  color: #ffffffe0;
  font-family: nanum;
}

.header {
  position: absolute;
  display: table;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Do Hyeon', sans-serif;
  color: rgb(231, 231, 231);
  vertical-align: text-bottom;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.headerInner {
  display: table-cell;
  font-size: 36px;
  font-weight: 500;
  padding-left: 10px;
}

.popupWrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
}

.popup {
  width: 360px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.xButton {
  width: 30px;
  height: 30px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  line-height: 30px;
  font-weight: 700;
  color: black;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 5px;
  margin: 5px 5px 0 auto;
  cursor: pointer;
  transition: box-shadow 0.25s linear;
  font-family: nanum;
}

.xButton:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.popupName {
  margin-top: 86px;
  align-self: center;
  font-size: 30px;
  font-weight: 600;
}

.popupInput { 
  width: 260px;
  height: 40px;
  align-self: center;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.popupInput::-webkit-outer-spin-button,
.popupInput::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}

.popupInput:focus, .popupButton:focus, .startButton:focus {
  outline: none;
}

.popupForm {
  display: flex;
  flex-direction: column;
}

.popupButton {
  align-self: center;
  width: 200px;
  height: 60px;
  margin-top: 40px;
  border: none;
  border-radius: 15px;
  background: #7b61c4;
  color: white;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s linear;
  font-family: 'yg-jalnan';
}

.popupButton:hover, .plus:hover, .startButton:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.codeName {
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
}

.users {
  color: white;
  font-weight: 600;
  font-size: 60px;
  display: flex;
  margin: 330px auto 0 auto;
}

#root {
  display: flex;
}

.usersName {
  width: 70vw;
  height: 200px;
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 600;
  bottom: 270px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

@media screen and (max-height: 880px) {
  .usersName {
    height: 100px;
  }
}

@media screen and (max-height: 790px) {
  .usersName {
    height: 50px;
  }
}

.startButton {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  font-weight: 600;
  font-size: 44px;
  border-radius: 30px;
  border: none;
  color: rgb(53, 53, 53);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  font-family: 'yg-jalnan';
}

.realtime {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100000;
  background-image: url(./img/bg.jpg);
}

.seats {
  width: 355px;
  height: 14vh;
  color: rgb(143, 143, 143);
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  line-height: 14vh;
  margin: 10px;
  background-color: white;
  float: left;
  color: black;
  border-radius: 13px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  font-size: 65px;
}

.raeltimeWrapper {
  width: 1500px;
  height: 97vh;
  margin: auto auto;
}

@media screen and (max-width: 599px) {
  .seats {
    width: 100px;
    height: 14vh;
    color: rgb(143, 143, 143);
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    line-height: 14vh;
    margin: 10px;
    background-color: white;
    float: left;
    color: black;
    border-radius: 13px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
  }
  .raeltimeWrapper {
    width: 480px;
    height: 97vh;
    margin: auto auto;
  }
} 

@media screen and (max-width: 800px) and (min-width: 600px) {
  .seats {
    width: 130px;
    height: 14vh;
    color: rgb(143, 143, 143);
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    line-height: 14vh;
    margin: 10px;
    background-color: white;
    float: left;
    color: black;
    border-radius: 13px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    font-size: 38px;
  }
  .raeltimeWrapper {
    width: 600px;
    height: 97vh;
    margin: auto auto;
  }
} 

@media screen and (max-width: 1000px) and (min-width: 801px) {
  .seats {
    width: 173px;
    height: 14vh;
    color: rgb(143, 143, 143);
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    line-height: 14vh;
    margin: 10px;
    background-color: white;
    float: left;
    color: black;
    border-radius: 13px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    font-size: 47px;
  }
  .raeltimeWrapper {
    width: 800px;
    height: 97vh;
    margin: auto auto;
  }
} 

@media screen and (max-width: 1500px) and (min-width: 1001px) {
  .seats {
    width: 233px;
    height: 14vh;
    color: rgb(143, 143, 143);
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    line-height: 14vh;
    margin: 10px;
    background-color: white;
    float: left;
    color: black;
    border-radius: 13px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    font-size: 55px;
  }
  .raeltimeWrapper {
    width: 1020px;
    height: 97vh;
    margin: auto auto;
  }
} 

.buttonEnd {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100001;
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s linear;
}
.buttonEnd:hover {
  box-shadow: 0 0 0 0;
}